html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.leaflet-container {
    background: #ddd;
}

.leaflet-popup-content > table td {
    padding: 4px 6px;
}

.qgis2web-legend-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.qgis2web-legend {
    line-height: 18px;
}

.leaflet-control-layers {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    background: #fff;
}

.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
}

.leaflet-control-layers-selector {
    margin-top: 2px;
}

.leaflet-control-layers-overlays label {
    display: flex;
    align-items: center;
}

.leaflet-control-layers-overlays img {
    margin-right: 4px;
}

div.info {
    padding: 6px 8px;
    font: 14px Arial;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

div.info h4 {
    margin: 0 0 5px;
    color: #777;
}
